@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,600&family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 4.62%, #8E5D52 65.61%);
}

.logo {
    width: 72px; 
    margin-left: 150px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-align: center;
    justify-content: space-around;
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
    font-family: 'Tapestry', cursive;
}

.paginas {
    padding: 40px;
    margin-right: 100px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #2F2325;
}

.conteudo-primario {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 40px;
}

.conteudo-primario-titulo {
    margin-bottom: 20px;
}

.conteudo-primario-sub-titulo {
    margin-bottom: 20px;
}

.conteudo-primario-btn {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: darkslateblue;
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
    --tw-border-opacity: 0.2;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity));	
    border-style: solid;
}

.conteudo-primario-btn:hover {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(19, 9, 83);
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
    --tw-border-opacity: 0.2;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity));	
    border-style: solid;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.semi-logo {
    display: flex;
    width: 500px;
    height: 200px;
}

.conteudo-secundario {
    font-family: 'Roboto Flex', sans-serif;
    display: flex-end;
    margin: 40px;
    padding: 40px;
}

.conteudo-secundario-titulo {
    margin-bottom: 20px;
}

.conteudo-secundario-paragrafo {

}

main hr {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-evenly
}

.logo-footer {
    width: 25%;
    display: flex-end;
    text-align: center;
    justify-items: center;
    
}